@font-face {
  font-family: Roboto;
  src: url(/src/kanban/Roboto.ttf)
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

header, footer {
  height: 55px;
  background: #0067A3;
}

main {
  height: calc(100vh - 110px);
  background: #0079bf;
}
